<p id="notice"><%= notice %></p>

<p>
  <strong>Profile picture:</strong><br/>
  <img src="<%= @user.profile_picture %>">
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.user_email %>
</p>


<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user.education %>
</p>

<p>
  <strong>Work:</strong>
  <%= @user.work %>
</p>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
      <li>
        <a href="<%= h user_path(friendship.friend)%>">
          <%= h friendship.friend.first_name %>
          <%= h friendship.friend.last_name %>
        </a>
      </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
